{
  "plugins": ["standard"],
  "extends": ["standard", "plugin:react/recommended", "prettier/react", "prettier/standard"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "no-underscore-dangle": 0,
    "quotes": ["error", "single"],
    "eqeqeq": ["error"],
    "semi": ["error", "never"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
