#BusinessDetail {
  background-color: #f7f7f7;
}
/*
.Street {
	cursor: pointer;
	width: 296px;
	top:-15px;
	position:relative;			
	height:30px;
}

.Suburb {
	cursor: pointer;
	width: 296px;
	top:-15px;
	position:relative;			
	height:30px;
}

.State {
	cursor: pointer;
	width: 5px;
	top:-15px;
	position:relative;			
	height:30px;
}

.PostCode {
	cursor: pointer;
	width: 90px;
	left: 197px;
	top:-15px;
	position:relative;			
	height:30px;
}*/
